.custom-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #4382e1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  background-color: #cfcffc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nameRow {
  padding: 10px;
}
.emailRow {
  padding: 10px;
}
.phoneRow {
  padding: 10px;
}
.button-group {
  display: flex;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
}
.users-container {
  margin-top: 20px;
}

.users-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-item p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .custom-container {
    padding: 15px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .custom-container {
    padding: 10px;
  }
  .nameRow, .emailRow, .phoneRow {
    padding: 0;
  }
}
